@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Karla, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .section {
    @apply max-w-[160rem] px-[13.28rem] max-3xl:px-[3.93rem] max-xl:px-[4%];
  }

  .catalog-title {
    @apply mb-6 flex max-w-[1920px] flex-row justify-evenly gap-4 overflow-x-auto text-sm font-normal text-gray;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-indit-20 {
    text-indent: 20px;
  }

  .animate-leftToRight {
    animation: 3s linear 1s infinite running leftToRight;
  }

  .animate-rightToLeft {
    animation: rightToLeft 6s linear infinite;
  }

  .text-ellipsis-10 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }

  .grid-rows-show {
    grid-template-rows: 1fr;
  }

  .grid-rows-hide {
    grid-template-rows: 0;
  }

  .link-inside-underline a {
    text-decoration: underline;
  }

  .custom-calendar .react-datepicker__header {
    @apply bg-blueMoon shadow
  }

  .custom-calendar .react-datepicker__day--selected {
    @apply bg-lightBlue text-black
  }

  Link {
    @apply normal-case
  }

  .spinner {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes leftToRight {
    from {
      transform: translateX(calc(-100% - 20px));
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes rightToLeft {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  [type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
  }

  [type="checkbox"],
  [type="radio"] {
    @apply focus:ring-0 focus:ring-offset-0;
  }

  [type="checkbox"],
  [type="checkbox"]:checked,
  [type="checkbox"]:checked:hover,
  [type="checkbox"]:checked:focus,
  [type="checkbox"]:indeterminate:hover,
  [type="radio"],
  [type="radio"]:checked,
  [type="radio"]:checked:hover,
  [type="radio"]:checked:focus {
    @apply cursor-pointer appearance-none border border-lightGray rounded-md mr-2 hover:border-primary hover:bg-indigo-100 checked:bg-no-repeat checked:bg-center checked:border-indigo-500 checked:bg-transparent
  }

  @layer base {
    html {
      @apply scroll-smooth;
    }
  }

  .btn-blue {
    @apply rounded-[100px] border-2 border-primary bg-primary px-[30px] py-[14px] font-montserrat text-white transition-all duration-300 ease-in-out hover:bg-primaryDark;
  }

  h2 {
    @apply font-montserrat text-1xl font-medium text-gray max-xl:text-2xl max-sm:text-3xl;
  }

  h3 {
    @apply font-montserrat text-5xl font-semibold max-md:text-3xl max-sm:text-6xl;
  }

  h4 {
    @apply font-montserrat text-xl font-medium text-black;
  }

  h5 {
    @apply font-montserrat text-4xl font-medium text-black;
  }

  p {
    @apply text-sm font-normal text-gray;
  }

  input {
    @apply border rounded-[0.875rem] px-2 py-2 border-lightGray appearance-none w-full text-gray leading-tight focus:outline-none focus:bg-white focus:border-primary bg-transparent
  }

  label {
    @apply text-md font-normal text-gray max-sm:text-mm;
  }

  .btn-primary {
    @apply bg-black text-md hover:bg-lightBlack text-white font-bold py-3 px-5 rounded-2xl w-full
  }

  .btn-black {
    @apply transition duration-150 ease-in-out hover:bg-neutral-700 focus:bg-neutral-700 focus:outline-none focus:ring-0 active:bg-neutral-900 motion-reduce:transition-none dark:shadow-black/30
  }

  .btn-gray {
    @apply inline-block text-sm rounded-2xl bg-neutral-100 px-6 pb-2 pt-2.5 text-neutral-600 shadow-sm transition duration-150 ease-in-out hover:bg-neutral-200 hover:shadow-gray focus:bg-neutral-200 focus:shadow-lightGray focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-lightGray motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-lightGray dark:focus:shadow-lightGray dark:active:shadow-lightGray
  }

  .btn-blue {
    @apply inline-flex justify-center rounded-md border border-transparent bg-lightBlue px-4 py-2 text-sm font-medium text-black hover:bg-blueMoon focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2
  }

  .btn-settings {
    @apply flex items-center rounded-[2.5rem] bg-black text-mm font-normal text-whitePrimary py-[0.375rem] px-3
  }

  .btn-red {
    @apply inline-flex justify-center rounded-md border border-transparent bg-red-500 px-4 py-2 text-sm font-medium text-black hover:bg-red-600 focus:outline-none focus-visible:ring-2 focus-visible:ring-red-500 focus-visible:ring-offset-2
  }

  .btn-blue-outline {
    @apply inline-flex justify-center rounded-md border border-lightBlue bg-transparent px-4 py-2 text-sm font-medium text-black hover:bg-blueMoon focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2
  }
}